body {
    text-align: center;
}

.black-cell {
    background-color: black;
    height: 70px;
    width: 70px;
    border: 1.5px solid grey;
    border-style: inset;
    color: white;
}

.white-cell {
    background-color: white;
    height: 75px;
    width: 75px;
    border: 1.5px solid grey;
    border-style: inset;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 85vh;  */
    /* border:1px solid black ; */
}

.board-button {
    border: 1px solid rgb(171, 58, 58);
    cursor: pointer;
}

.board-button:hover{
    border: 2px solid rgb(0, 0, 0);
}

img {
    height: 60px;
    width: 60px;
}

.click {
    border: 2px solid blue;
}